* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.home {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: #0D4E95;
    background-image: url(./img/Rectangle\ 847.png);
    background-repeat: no-repeat;
    color: white;
    gap: 30px;

}

.position-nav {
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    gap: 25px;
    font-size: 25px;
    z-index: 1;
}

.position-nav>p>a {
    color: white;
    text-decoration: none;
    font-size: 25px;
}

.position-nav>select {
    width: 53px;
    height: 22px;
    Border: 2px solid #FFFFFF;
    color: white;
    background: inherit;

}

.position-nav>button {
    width: 125px;
    height: 43px;
    border-radius: 3px;
    border: 2px solid #FFFFFF;
    color: white;
    background: inherit;
}

.main {
    background: linear-gradient(358.36deg, #00529D 4.38%, rgba(219, 0, 0, 0.76) 95.64%);
   
    height: 1010px;
    display: flex;
    flex-direction: column;

}

.cards {
    margin-top: -100px;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    height: 900px;
}

.card1 {
    display: flex;
    flex-direction: column;
    width: 1005px;
    height: 670px;
    position: relative;
}

.card1>p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 120px;
    height: 66px;
    background: #00000080;
    position: absolute;
    right: 0px;
    top: 0px;


}

.card1>h4 {
    position: absolute;
    bottom: 0px;
    font-size: 40px;
    background: linear-gradient(0deg, #045499 0.82%, rgba(41, 122, 192, 0) 123.79%);

}

.card2 {
    width: 289px;
    height: 670px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: #0D4E95;
    font-size: 20px;
    position: relative;
}

.new {
    width: 289px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
}

.new>p {
    width: 107px;
    height: 43px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new>p>b {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #FF4F4F;
    position: absolute;
    right: 0px;
    top: 10px;
}

.card2>span {
    display: flex;
    gap: 5px;
    font-size: 15px;
}

.card2>button {
    width: 289px;
    height: 53px;
    bottom: 0px;
    position: absolute;
    background-color: #045499;
    border: none;
    color: white;
    cursor: pointer;
}

.main>h1 {
    width: 177.5px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 120px;
    position: relative;
}

.main>h1>b {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #FF4F4F;
    position: absolute;
    right: 0px;
    top: 5px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 290px);
    gap: 60px;
    height: 700px;
    justify-content: center;
    align-items: center;

}

.grid>div {
    height: 290px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.grid>div>p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 120px;
    height: 66px;
    background: #00000080;
    position: absolute;
    right: 0px;
    top: 0px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    justify-content: center;
    align-items: center;
    gap: 80px;
    height: 160px;

}

.footer>ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer>ul>p {
    font-size: 20px;
}

.footer>ul>p>a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.footer>ul>div {
    display: flex;
    gap: 10px;
}

.footer>ul>div>p {
    font-size: 30px;
}

.bottom {
    display: flex;
    gap: 5px;
    margin-left: 550px;
}

.bottom>p {
    font-size: 25px;
}

.bottom>pre {
    font-size: 25px;
    color: rgb(209, 206, 206);
}